@{
    ViewData["Title"] = "Privacy Policy";
}

<div class="text-center">
    <body　background ="https://images.plurk.com/3DprPSD2AyxvraXwP8HffU.png" 　text="#000000" 　link="#0066cc" 　vlink="#336600">
        <img src="https://images.plurk.com/2PcuMFhOPErArLABPMjda3.png" >
        <p>來世不願再寫程式</p>
    </body>
</div>